multi_robot_challenge_23/__pycache__/leader.cpython-38.pyc
multi_robot_challenge_23/__pycache__/marker_detection.cpython-38.pyc
multi_robot_challenge_23/__pycache__/marker_pose.cpython-38.pyc
multi_robot_challenge_23/__pycache__/robot_controller.cpython-38.pyc
